[submodule "source/_posts"]
	path = source/_posts
	url = git@github.com:GloomyNAN/doc.git
[submodule "themes/yikes"]
	path = themes/yikes
	url = git@github.com:GloomyNAN/yikes.git
[submodule "themes/landscape"]
	path = themes/landscape
	url = git@github.com:hexojs/hexo-theme-landscape.git
[submodule "themes/even"]
	path = themes/even
	url = git@github.com:ahonn/hexo-theme-even.git
[submodule "themes/next"]
	path = themes/next
	url = git@github.com:iissnan/hexo-theme-next.git
